<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <% var main_data=main %>
            <% var Currentuser=JSON.parse(localStorage.getItem(main)) %>
              <% if(Currentuser==null) { %>
                <li id="login"><a href="/login" >Login</a></li>
                <li id="signup"><a href="/signup" >Sign-Up</a></li>
                <% } %>
                  <% if(Currentuser!=null) { %>
                    
                    <li id="login"><a href="/login"><%=main%></a></li>
                    </li>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
            
            
        </ul>

    </div>
  </nav>

  <body>
    <div class="container">

<h1>Home</h1>
<p><%=homecontent%></p>
<%posts.forEach(element => {%>
    <h1><%=element.title%></h1>
    <p><%=element.sodhi.substring(0,100) + " ..."%>
    <a href="/posts/<%=element._id%>">Read More</a></p>
    <%});%>
    <% if(Currentuser!=null) { %>
    <button class="button"><a href="/compose" style="color: black; text-decoration: none;">Compose</a></button>
    <% } %>
    <% if(Currentuser==null) { %>
      <button class="button"><a href="/login" style="color: black; text-decoration: none;">Compose</a></button>
      <% } %>
<%-include("footer");-%>